@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    color: white;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 50vh;
    background-image: url(/Assets/back.png);
    background-size: cover; /*cobre toda a area*/
    background-attachment: fixed; /*fixa a imagem*/
    background-position: center;/*Centraliza*/
    
    margin: 0px;
    display: flex;
    flex-direction: column;

}



h1{
    font-size: 1rem;
}

.logo{
    width: 2rem;
    height: auto;
    margin: 1rem ;
    background-color: transparent;
}

header{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 2rem;
    background-color: rgb(26, 25, 25, 0.5);
    margin-top: 0px;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    background-color: transparent;
    gap: 1rem;
    margin-right: 1rem;
}

.menu a{
    color: white;
    text-decoration: none;
    background-color: transparent;
}


/*Sections*/
.section1{
    padding-top: 3rem;
    margin-left: 2rem;

}
.section1 h1{
    font-weight:lighter;
    font-size: 2rem;
}

.section2{
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-left: 0rem;
    margin-top: 3rem;
    background-color: rgb(0, 0, 0, 0.5);
}
.section2 h1{
    margin-left: 2rem;
    font-weight:lighter;
    font-size: 2rem;
}
.section2 p{
    margin-left: 2rem;
}

.section3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*cada .pack tera no minimo 250px e vai ocupar 1 fracao do espaco disponivel*/
    gap: 5rem;
    text-align: center;
}

.pack{
   margin: 2rem;
}

.section3 .pack img{
    width: 15rem;
}


@media screen and (max-width: 480px) {
    .section3 {
        grid-template-columns: 1fr; /* Ajuste automático das colunas */
    }
}



#line{
    border: 1px solid white;
}




html{
    scroll-behavior: smooth;
}

/* Formulario */
prosec{

    display: flex;
    justify-content: center;
    margin-top: 10rem;
}
.form-section{
    justify-content: center;
    width: 480px;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 20px 30px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    color: black;
}

.form-section h2{
    text-align: center;
    color: #ffffff;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 10px;
    margin-bottom: 5px;
}

input{
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0, 0.5);
}

textarea{
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border:1px solid #fafafa;
    background-color: black;
}

button{
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #f14b09;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #7e1507;
}