@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    color: white;
    font-family: 'Montserrat';
}

body{
    height: 50vh;
    background-image: url(/Assets/back.png);
    background-size: cover; /*cobre toda a area*/
    background-attachment: fixed; /*fixa a imagem*/
    background-position: center;/*Centraliza*/
    
    margin: 0px;
    display: flex;
    flex-direction: column;
    


}


h1{
    font-size: 1rem;
}

.logo{
    width: 2rem;
    height: auto;
    margin: 1rem ;
    background-color: transparent;
}

header{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 2rem;
    background-color: rgb(26, 25, 25, 0.5);
    margin-top: 0px;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    background-color: transparent;
    gap: 1rem;
    margin-right: 1rem;
}

.menu a{
    color: white;
    text-decoration: none;
    background-color: transparent;
}


/*Sections*/
.section1{
    padding-top: 3rem;
    margin-left: 2rem;

}
.section1 h1{
    font-weight:lighter;
    font-size: 2rem;
}

.section2{
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-left: 0rem;
    margin-top: 3rem;
    background-color: rgb(0, 0, 0, 0.5);
}
.section2 h1{
    margin-left: 2rem;
    font-weight:lighter;
    font-size: 2rem;
}
.section2 p{
    margin-left: 2rem;
}